<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <a href="<%- url_for('/archives') %>"><h3 class="widget-title"><%= __('archive_a') %></h3></a>
    <div class="widget">
      <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
    </div>
  </div>
<% } %>
