<section class="archives-wrap">
	<div class="cate-wrap">
		<% if (site.categories.length){ %>
	    <h3 class="cate-title"><%= __('categories') %></h3>
	    <div class="cate">
	      <%- list_categories({show_count: true}) %>
	    </div>
		<% } %>
	</div>
</section>
