<section class="archives-wrap">
	<div class="tag-wrap">
		<% if (site.tags.length){ %>
	    <h3 class="tag-title"><%= __('tagcloud') %></h3>
	    <div class="tag tagcloud">
	      <%- tagcloud() %>
	    </div>
		<% } %>
	</div>
</section>