#backtotop
  position: fixed
  bottom: 50px
  right: 60px
  background: grey
  color: white
  width: 25px
  box-sizing: border-box
  text-align: center
  /* z-index: 2; */
  cursor: pointer
  height: 25px
  line-height: 2
  text-shadow: 0 2px 2px purple
  display: none
  opacity: 0.6
  &:hover
    opacity: 1